<!DOCTYPE html>
<html lang="en">




	<head>

		<style>


		body{
			background: fixed center;
			background-image: url('../image/intakt.png');
			background-repeat: no-repeat;
			background-size: cover;
			text-align: left;
			margin-top: 200px;
			color:white;
		}
		</style>

	</head>


<h1> 

Anmeldung

</h1>


<body>




<p>
Benutzername:
</p>

<input type = "text">

<br/>
<br/>

<p>
Passwort:
</p>

<input type = "text">


<br/>
<br/>
<br/>
<button onclick="Login()">

        Anmelden
    
	</button>


</body>
</html>